.pointContainer {
  /* width: 50%; */
  /* height: 50vh; */
  /* margin: auto; */
  /* flex-shrink: 1; */
  /* flex-grow: 0; */
  /* align-items: center; */
  /* background-color: #c04a4a; */
  /* margin-top: 20px; */
  width: 100vh;
  text-align: center;
  margin: auto;
  padding-top: 50px;
}

.pointsMap {
  display: block;
  width: 100%;
  margin-top: 100px;
  align-items: center;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  height: 55vh;
  gap: 10px;
}

.curveViewBox {
  fill: #fff;
  /* background-color: #444; */
  background-color: #1b1e24;

  /* margin: auto; */
  /* padding: 10px; */
  /* display: flex; */
  width: 500px;
  height: 500px;
}

.controlPoint {
  stroke: rgb(255, 255, 255);
  stroke-width: 2.5;
  /* opacity: 0.8; */
  fill: rgb(56, 56, 56);
  -webkit-user-drag: element;
}

.controlPoint:hover {
  fill: rgb(108, 136, 190);
}

.dragContainer {
  width: 100%;
  height: 100%;
}
